<div id="new_tag">
  <form id="new_tag_form" (ngSubmit)="addTag($event)" enctype="multipart/form-data">
    <div class="container">
      <div class="head_container">
        <div class="head_text"><p>Add New Tag</p></div>
      </div>
      <div id="new_tag_message" class="new_tag_message"></div>
      <div class="border">
        <div class="input_fields">
          <div class="left_column">
            <li>
              <label for="new_tag_input_name">Tag name</label>
              <input type="text" name="name" id="new_tag_input_name" class="input_field_long" placeholder="Tag name"
                     required="required">
            </li>
          </div>
          <div class="right_column">
            <li id="item_image">
              <label for="tag_image">Upload Image</label>
              <input type="file" accept="image/*" name="image" id="tag_image" class="input_field_long"
                     (change)="loadFile()">
              <img id="tag_output" width="200" alt="Image" style="display: none"/>
            </li>
          </div>
        </div>
        <div class="button">
          <ul>
            <li>
              <button class="light_button" routerLink="/">Back</button>
            </li>
            <li>
              <button type="submit" class="green_button" *ngIf="isAdmin">Save</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
