<div id="navbar" class="navbar">
  <table>
    <th><a class="logo" routerLink="/certificate">Logo</a></th>
    <th>
      <div id="search_box" class="search_box">
        <div class="search_field">
          <input type="text" class="input" name="search_item_name_bar" id="search_item_name_bar"
                 [(ngModel)]="item_name"
                 (keyup)="findByName()"
                 *ngIf="isLogged"
                 placeholder="Search by item name">
        </div>

        <app-dropdown></app-dropdown>

      </div>
    </th>
    <th>
      <div class="icons" *ngIf="isLogged">
        <ul class="inline_list">
          <li>
            <a [routerLink]="['user','info',userId]" class><img id="account_circle" class="material-icons"
                                                                src="./assets/account_circle_black_24dp.svg"
                                                                alt="Account"></a>
          </li>
          <li>
            <a routerLink="/user/cart"><img id="shopping_cart" class="material-icons"
                                                          src="./assets/shopping_cart_black_24dp.svg"
                                                          alt="Shopping cart" onclick=""></a>
          </li>
        </ul>
      </div>
    </th>
    <th>
      <div class="authentication_links">
        <ul class="inline_list">
          <li><a class="authentication_link" routerLink="/auth/signup" *ngIf="!isLogged">Sign Up</a></li>
          <li><a class="authentication_link" routerLink="/auth/login" *ngIf="!isLogged; else logoutTemplate">Login</a>
          </li>
          <li>
            <ng-template #logoutTemplate>
              <a (click)="logout()" class="authentication_link">Logout</a></ng-template>
          </li>
        </ul>
      </div>
    </th>
  </table>
</div>
