<!--<div id="category_menu" class="category_menu" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"-->
<!--     (scroll)="onScrollCategory()">-->
<!--  <div *ngIf="isValid">-->
<!--    <div id="tag_message" class="tag_message">-->
<!--    </div>-->

<!--    <ul>-->
<!--      <li *ngFor="let tag of tags">-->
<!--        <div class="category">-->
<!--          <div class="image">-->
<!--            <img id="category_image" class="category_image" [src]="getImage(tag.imagePath!)" [alt]="tag.name">-->
<!--          </div>-->
<!--          <div class="category_name">-->
<!--            <a (click)="getCertificatesByTag(tag.name)">{{tag.name}}</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--</div>-->
