<div id="item_details" *ngIf="isValid; else message">
  <div class="container_details">
    <div class="element_details">
      <div class="parent">
        <div *ngIf="certificate">
          <img id="element_image_large" class="element_image_large" [src]="getImage(certificate.imagePath)"
               [alt]="certificate?.name">
        </div>
        <div class="info_box">
          <div class="description">
            <div class="element_title">
              <p>{{certificate?.name}}</p>
            </div>
            <div class="element_full_description">
              <p>{{certificate?.description}}</p>
            </div>
          </div>
          <div class="time_left">
            <div class="time_left_titlie">
              <p>Time Left To Buy</p>
            </div>
            <div class="time_left_in">
              <p>{{certificate?.duration}}</p>
            </div>
          </div>
          <div class="inline_footer_box">
            <div class="price">
              <p>{{certificate?.price|currency:"BYN": "symbol"}}</p>
            </div>
          </div>
          <div class="item_actions">
            <ul class="inline_list" id="item_details_list">
              <li>
                <a
                  class="add_to_cart"
                  (click)="addToCart(certificate)"
                  [ngClass]="{'add_to_cart_disabled': getCertificates().indexOf(certificate?.id ?? -1) !== -1}"
                  *ngIf="getCertificates().indexOf(certificate?.id ?? -1)
                      === -1;">
                  {{labelAdd}}
                </a>

                <a class="add_to_cart"
                   (click)="deleteFromCart(certificate)"
                   [ngClass]="{'add_to_cart_disabled': getCertificates().indexOf(certificate?.id ?? -1) !== -1}"
                   *ngIf="getCertificates().indexOf(certificate?.id ?? -1)
                      !== -1;">
                  {{labelDelete}}
                </a>
              </li>
              <li *ngIf="isAdmin">
                <a [routerLink]="['/form/certificate/update', certificate?.id]">
                  <input type="hidden">
                  <span><label>Update item</label>
                        </span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #message>
  <div class="info_element_message">Please login or signup.</div>
</ng-template>
